<div
  id="carouselExampleCaptions"
  class="fixed inset-0 z-50 flex items-center justify-center bg-gray-900 bg-opacity-75"
  [class.hidden]="!isCarouselVisible"
  data-twe-carousel-init
  data-twe-ride="carousel"
>
  <button
    class="absolute top-0 right-0 z-50 p-2 bg-gray-900 text-white"
    (click)="closeCarousel()"
  >
    Close
  </button>

  <!-- Carousel container -->
  <div class="relative w-11/12 max-w-4xl">
    <!-- Carousel items -->
    <div
      class="relative w-full overflow-hidden after:clear-both after:block after:content-['']"
    >
      <div
        *ngFor="let puppy of puppies; let i = index"
        class="relative float-left w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
        data-twe-carousel-item
        [class.hidden]="i !== currentSlide"
        style="backface-visibility: hidden"
      >
        <img src="{{ puppy.imageSrc }}" class="block w-full" alt="..." />
        <div
          class="absolute inset-x-[15%] bottom-5 hidden py-5 text-center text-white md:block"
        >
          <h5 class="text-xl">{{ puppy.gender }}</h5>
          <p>{{ puppy.dateBorn }}</p>
        </div>
      </div>
    </div>

    <!-- Carousel controls - prev item -->
    <button
      class="absolute bottom-0 left-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
      type="button"
      data-twe-target="#carouselExampleCaptions"
      data-twe-slide="prev"
      (click)="prevSlide()"
    >
      <span class="inline-block h-8 w-8">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-6 w-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 19.5L8.25 12l7.5-7.5"
          />
        </svg>
      </span>
      <span
        class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
        >Previous</span
      >
    </button>
    <!-- Carousel controls - next item -->
    <button
      class="absolute bottom-0 right-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
      type="button"
      data-twe-target="#carouselExampleCaptions"
      data-twe-slide="next"
      (click)="nextSlide()"
    >
      <span class="inline-block h-8 w-8">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-6 w-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M8.25 4.5l7.5 7.5-7.5 7.5"
          />
        </svg>
      </span>
      <span
        class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
        >Next</span
      >
    </button>
  </div>
</div>
