<nav class="bg-ivory shadow-lg">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between">
      <div class="flex">
        <div class="flex items-center">
          <a
            routerLink="/"
            routerLinkActive="router-link-active"
            class="text-2xl font-bold text-charcoal"
            ><img src="assets/logo1.png" alt="" class="w-32"
          /></a>
        </div>
      </div>
      <div class="hidden md:flex md:items-center md:space-x-4">
        <a
          routerLink=""
          routerLinkActive="router-link-active"
          class="text-charcoal hover:text-black"
          >Home</a
        >
        <a
          routerLink="puppies"
          routerLinkActive="router-link-active"
          class="text-charcoal hover:text-black"
          >Puppies</a
        >
        <a
          routerLink="faqs"
          routerLinkActive="router-link-active"
          class="text-charcoal hover:text-black"
          >FAQs</a
        >
        <a
          routerLink="contact"
          routerLinkActive="router-link-active"
          class="text-charcoal hover:text-black"
          >Contact</a
        >
      </div>
      <div class="-mr-2 flex md:hidden px-6 py-8">
        <button
          (click)="toggleMenu()"
          class="bg-charcoal inline-flex items-center justify-center p-2 rounded-md text-ivory hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
        >
          <svg
            *ngIf="!menuOpen"
            class="block h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width=""
              d="M4 6h16M4 12h16m-7 6h7"
            />
          </svg>
          <svg
            *ngIf="menuOpen"
            class="block h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="menuOpen" class="md:hidden" id="mobile-menu">
    <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
      <a
        routerLink=""
        routerLinkActive="router-link-active"
        class="block px-3 py-2 rounded-md text-base font-medium text-black"
        >Home</a
      >
      <a
        routerLink="puppies"
        routerLinkActive="router-link-active"
        class="block px-3 py-2 rounded-md text-base font-medium text-black"
        >Puppies</a
      >
      <a
        routerLink="/routePath"
        routerLinkActive="router-link-active"
        class="block px-3 py-2 rounded-md text-base font-medium text-black"
        >Resources</a
      >
      <a
        routerLink="contact"
        routerLinkActive="router-link-active"
        class="block px-3 py-2 rounded-md text-base font-medium text-black"
        >Contact</a
      >
    </div>
  </div>
</nav>
