<app-hero></app-hero>
<div class="bg-ivory py-6">
  <div class="max-w-3xl mx-auto py-10">
    <h3 class="text-3xl font-bold my-2 text-burgundy">
      Welcome to CavalierCompanions
    </h3>
    <h4 class="text-lg font-bold my-2 text-charcoal">
      Your Trusted Source for Cavalier King Charles Spaniels
    </h4>
    <p class="mb-2 text-charcoal">
      Welcome to CavalierCompanions.com, your premier destination for finding
      the perfect Cavalier King Charles Spaniel. Our mission is to connect
      loving families with healthy, happy Cavalier puppies, ensuring a lifetime
      of joy and companionship.
    </p>
    <h4 class="text-lg font-bold my-2 text-charcoal">About Us</h4>
    <p class="text-charcoal">
      At CavalierCompanions.com, we are passionate about Cavaliers. Our team
      consists of experienced breeders and dog lovers dedicated to raising and
      nurturing these charming dogs. We prioritize the health, temperament, and
      well-being of our puppies, ensuring they grow up in a loving and caring
      environment.
    </p>
    <h3 class="text-2xl font-bold my-2 text-burgundy">Why Choose Us?</h3>
    <h4 class="text-lg font-bold my-2 text-charcoal">Health and Quality:</h4>
    <p class="text-charcoal">
      We follow rigorous breeding standards to ensure our puppies are healthy
      and well-adjusted. All our puppies receive thorough veterinary care,
      vaccinations, and health screenings before going to their new homes.
    </p>
    <h4 class="text-lg font-bold my-2 text-charcoal">
      Ethical Breeding Practices:
    </h4>
    <p class="text-charcoal">
      We are committed to ethical breeding practices. Our breeding dogs are
      carefully selected for their health, temperament, and conformation to
      breed standards. We ensure our dogs are well-cared for and raised in a
      loving environment.
    </p>
  </div>
  <div class="grid lg:grid-cols-2 gap-8 mx-auto max-w-7xl">
    <div class="w-full flex justify-center items-center">
      <img src="assets/homeimage1.jpg" alt="" />
    </div>
    <div class="w-full flex justify-center items-center">
      <img src="assets/homeimage2.jpg" alt="" />
    </div>
  </div>
</div>
